@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lato, sans-serif;
}

.swiper-fade-black-bg .swiper-wrapper {
  background-color: black !important;  /* Black background */
}

.swiper-fade-black-bg .swiper-slide {
  transition: opacity 0.5s ease-in-out;
  background-color: black !important;  /* Ensure slide background is also black */
}